body {
    background-color: black;
}

a {
    text-decoration: none;
}

p {
    color: white;
    font-family: "Lora";
}

.title-text-container {
    height: 500px;
}

.title-text-luminance-container {
    height: 200px;
}

.title-text-luminance {
    font-family: "Bebas Neue";
    font-size: 180px;
    text-align: center;
    letter-spacing: 10px;
}

.title-text-realname-container {
    height: 240px;
}

.title-text-realname {
    font-family: "Bebas Neue";
    font-size: 50px;
    text-align: center;
    letter-spacing: 4px;
}

.social-info-container {
    height: 150px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.social-info-icon {
    filter: invert(1);
    height: 130px;
}

.social-info-icon-container {
    margin: auto;
    margin-right: 100px;
}

.social-info-text {
    font-size: 50px;
}

.social-info-text-container {
    margin: auto;
    margin-left: 5px;
}

.divide {
    margin: 50px;
    border: 1px solid white;
}